.container{
  background-color: aquamarine;
}
.form-label{
  padding-top: 20px;
  font-weight:500;
}
.submitbut{
  padding-bottom: 20px;
  display: inline-block;
}
#clearbut{
  margin-left: 20px;
  display: inline;
}
h3{
  font-weight: bolder;
  margin-top: 10px;
  color: rgb(92, 203, 92);
  text-align: center;
}
.btn-text-right{
  display: inline;
  margin-left: 20px;
}
