<app-header></app-header><br>
<h3>Edit Student Record</h3>

<div *ngIf="alert" class="alert alert-success alert-dismissible container">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Success!</strong> Student record is updated succesfully.
</div>

<form class="container" [formGroup]="editstudent" (ngSubmit)="updated()">

  <div class="form-group">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
  </div><br>
  <span style="color: red;"  *ngIf="errors && errors.invalid && errors.touched">This input field is not valid</span>
  <div class="form-group">
    <label class="form-label">Roll No</label>
    <input type="text" class="form-control" placeholder="Enter Roll No" formControlName="rollno">
  </div><br>

  <div class="form-group">
    <label class="form-label">Date of Birth</label>
    <input type="date" class="form-control" placeholder="Enter Date of Birth" formControlName="dob">
  </div><br>

  <div class="form-group">
    <label class="form-label">Score</label>
    <input type="text" class="form-control" placeholder="Enter Score" formControlName="score">
  </div><br>

  <div class="submitbut">
    <button type="submit" class="btn btn-primary" [disabled]="editstudent.invalid">Update</button>
    <button type="button" class="btn btn-primary" id="clearbut" (click)="clear()">Clear</button>
  </div>
  <div class="btn-text-right">
    <button routerLink="/teacher"type="button" class="btn btn-primary" >Back</button>
  </div>

</form>
